[Desktop Entry]
Name=File FX
Comment=Explorador de archivos creado por el mejor programador
Exec=filefx
Icon=/usr/share/filefx/icon.png
Type=Application
Categories=Office;Utility;Core;
Terminal=false
Keywords=explorador;archivos;gestor;administrador;
MimeType=inode/directory;
StartupNotify=false
StartupWMClass=main.FileFX
