/*-- FUENTE ----------------------------------------------------------------------------------------------------------*/

.tooltip > .label,
.menu-item, .menu-item > .label,
#Top_search,
#Right_close, #RightNode_value,
#Bottom_textfield, #BottomNode_icon, #BottomNode_icon-selected,
#LeftNode_label,
#OtherNode,
#PartitionNode_value
{-fx-text-fill: white; -fx-font-family: "Noto Sans Mono";}

#TopNode_icon,
#RightNode_title,
#Left_title, #LeftNode_unmount_icon,
#CenterNode_name, #CenterNode_name-focus,
#CenterNode_column, #CenterNode_column-focus,
#PartitionNode_title
{-fx-font-family: "Noto Sans Mono";}

.menu-item
{-fx-font-size: 11;}

#Right_close, #RightNode_title
{-fx-font-size: 12;}

#RightNode_value,
#LeftNode_label, #LeftNode_unmount_icon,
#CenterNode_name, #CenterNode_name-focus,
#CenterNode_column, #CenterNode_column-focus,
#PartitionNode_title
{-fx-font-size: 13;}

#Top_search,
#Bottom_textfield, #BottomNode_icon, #BottomNode_icon-selected,
#Left_title,
#PartitionNode_value
{-fx-font-size: 14;}

#TopNode_icon
{-fx-font-size: 18;}


/*-- COLOR DE FONDO --------------------------------------------------------------------------------------------------*/

#Right_close:hover, #RightNode_value:hover, #RightNode_value:focused,
#BottomNode_button-selected,
#LeftNode_label:hover, #LeftNode_unmount_button:hover,
#CenterNode_boxB1:hover, #CenterNode_boxB2:hover,
.scroll-pane > .scroll-bar:vertical .thumb:hover,
#PartitionNode_value:hover, #PartitionNode_value:focused
{-fx-background-color: gray;}

.menu-item, #OtherPane, #OtherNode,
.scroll-pane > .scroll-bar:vertical .thumb
{-fx-background-color: #404040FF;}

#TopNode_button, #Top_search,
#Bottom_textfield, #BottomNode_button,
#CenterNode_boxB2,
#PartitionNode_value
{-fx-background-color: #373737;}

#MainPane, #TopPane, #RightPane_pane, #BottomPane, #LeftPane,
#Right_close, #RightNode_value,
#Left_title, #LeftNode_label, #LeftNode_unmount_button,
#CenterNode_boxB1,
.scroll-pane > .scroll-bar:vertical .track,
#PartitionColumn, #PartitionPane
{-fx-background-color: #232323FF;}


/*-- BORDE -----------------------------------------------------------------------------------------------------------*/

.menu-item, #TopPane, #RightPane, #BottomPane, #LeftPane,
#TopNode_button, #Top_search,
#Bottom_textfield, #BottomNode_button, #BottomNode_button-selected,
#CenterNode_boxB1, #CenterNode_boxB2,
#CenterNode_boxB1-focus, #CenterNode_boxB2-focus,
#OtherNode, .scroll-pane > .scroll-bar:vertical .thumb
{-fx-border-style: solid;}

.menu-item, #OtherNode, .scroll-pane > .scroll-bar:vertical .thumb,
#BottomNode_button, #BottomNode_button-selected
{-fx-border-radius: 1;}

#TopNode_button, #Top_search, #Bottom_textfield
{-fx-border-radius: 2;}

.menu-item, #TopNode_button, #Top_search,
#Bottom_textfield, #BottomNode_button, #BottomNode_button-selected,
#CenterNode_boxB1, #CenterNode_boxB2,
#CenterNode_boxB1-focus, #CenterNode_boxB2-focus,
#OtherNode
{-fx-border-width: 1;}

.menu-item:hover, .menu-item:focused,
#TopNode_button:hover, #Top_search:hover, #Top_search:focused,
#Bottom_textfield:hover, #Bottom_textfield:focused,
#BottomNode_button:hover, #BottomNode_button-selected:hover,
#CenterNode_boxB1:hover, #CenterNode_boxB2:hover,
#OtherNode:hover, #OtherNode:focused,
.scroll-pane > .scroll-bar:vertical .thumb:hover
{-fx-border-color: white;}

#BottomNode_button-selected, #OtherNode,
.menu-item, .scroll-pane > .scroll-bar:vertical .thumb
{-fx-border-color: gray;}

#TopNode_button, #Top_search,
#Bottom_textfield, #BottomNode_button,
#CenterNode_boxB2
{-fx-border-color: #333333;}

#CenterNode_boxB1
{-fx-border-color: #232323FF;}

#TopPane, #RightPane, #BottomPane, #LeftPane
{-fx-border-color: #131313;}


/*-- OTROS -----------------------------------------------------------------------------------------------------------*/

.context-menu {-fx-background-color: transparent;}
.line {-fx-border-width: 0 0 4 0;}

.scroll-pane > .scroll-bar .increment-button,
.scroll-pane > .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.scroll-pane > .scroll-bar .increment-arrow,
.scroll-pane > .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.scroll-pane > .scroll-bar:vertical > .thumb {-fx-border-radius: 5;}

.tooltip {
    -fx-show-delay: 50ms;
    -fx-hide-delay: 0ms;
}

#TopNode_icon, #BottomNode_icon, #BottomNode_icon-selected {
    -fx-fill: white;
    -fx-alignment: CENTER;
}

#TopNode_button, #Top_search {-fx-max-height: 35;}
#TopNode_button {-fx-padding: 0 16 3 10;}
#TopPane {
    -fx-spacing: 10;
    -fx-padding: 5;
    -fx-border-width: 0 0 2 0;
}

#RightPane {-fx-border-width: 0 0 0 2;}
#Right_close {-fx-padding: 0 4 2 4;}
#RightNode_value {-fx-padding: 1 2 1 2;}
#Right_miniatura {-fx-font-size: 170;}
#RightNode_title {
    -fx-padding: 0 10 0 10;
    -fx-text-fill: lightgray;
}

#BottomPane {
    -fx-spacing: 8;
    -fx-border-width: 2 0 0 0;
    -fx-padding: 5 8 5 8;
}
#Bottom_textfield {-fx-padding: 2 8 2 8;}
#BottomNode_button, #BottomNode_button-selected {-fx-padding: 1 10 1 5;}
#BottomNode_icon-selected {-fx-font-weight: bold;}

#LeftPane {-fx-border-width: 0 2 0 0;}
#Left_title {
    -fx-text-fill: lightgray;
    -fx-label-padding: 2 10 2 5;
    -fx-font-weight: bold;
}
#LeftNode_label {
    -fx-label-padding: 4 10 4 10;
    -fx-graphic-text-gap: 15;
}
#LeftNode_icon {
    -fx-font-size: 15;
    -fx-alignment: CENTER-RIGHT;
    -fx-text-fill: white;
}
#LeftNode_unmount_icon {-fx-fill: lightgray;}
#LeftNode_unmount_button {
    -fx-padding: 4 10 4 3;
    -fx-border-width: 0;
}

#CenterNode_name, #CenterNode_name-focus {-fx-label-padding: 2;}
#CenterNode_column, #CenterNode_column-focus {-fx-padding: 2 10 2 10;}
#CenterNode_name-focus {-fx-font-weight: bold;}
#CenterNode_boxB1, #CenterNode_boxB2, #CenterNode_boxB1-focus, #CenterNode_boxB2-focus {-fx-spacing: 10;}
#CenterNode_boxB1-focus:hover, #CenterNode_boxB2-focus:hover {
    -fx-background-color: #41aeff;
    -fx-border-color: #41aeff;
}
#CenterNode_boxB1-focus, #CenterNode_boxB2-focus {
    -fx-background-color: #0095c8;
    -fx-border-color: #0095c8;
}

#CenterNode_icon, #CenterNode_icon-focus, #TopNode_button {-fx-label-padding: 0 5 0 5;}

#OtherNode {
    -fx-alignment: CENTER-LEFT;
    -fx-content-display: LEFT;
}

#ContexMenu_icon {
    -fx-font-size: 12;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-label-padding: 0 10 0 0;
}

#PartitionNode_title, #PartitionNode_value {
    -fx-pref-height: 26px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-padding: 2 4 2 4;
}
#PartitionNode_title {
    -fx-text-fill: lightgray;
}
#PartitionColumn {
    -fx-padding: 10;
    -fx-spacing: 3;
}