/*-- FUENTE ----------------------------------------------------------------------------------------------------------*/

.menu-item, .menu-item > .label,
#top_text_field,
#right_close_button, #right_component, #right_label,
#left_label_title, #left_place_label,
#other_button
{-fx-text-fill: white; -fx-font-family: "Noto Sans Mono";}

#center_label_b1, #center_label_b2,
#center_label_focus_b1, #center_label_focus_b2
{-fx-font-family: "Noto Sans Mono";}

.menu-item
{-fx-font-size: 11;}

#right_close_button, #right_label
{-fx-font-size: 12;}

#right_component,
#left_place_label,
#center_label_b1, #center_label_b2,
#center_label_focus_b1, #center_label_focus_b2
{-fx-font-size: 13;}

#top_text_field, #left_label_title
{-fx-font-size: 14;}


/*-- COLOR DE FONDO --------------------------------------------------------------------------------------------------*/

#right_close_button:hover, #right_component:hover, #right_component:focused,
#left_place_label:hover,
#center_label_b1:hover, #center_label_b2:hover,
.scroll-pane > .scroll-bar:vertical .thumb:hover
{-fx-background-color: gray;}

.menu-item, #other_pane, #other_button,
.scroll-pane > .scroll-bar:vertical .thumb
{-fx-background-color: #404040FF;}

#top_button, #top_text_field,
#center_label_b2
{-fx-background-color: #373737;}

#main_pane, #top_pane, #right_pane, #left_pane,
#right_close_button, #right_component,
#left_label_title, #left_place_label,
#center_label_b1,
.scroll-pane > .scroll-bar:vertical .track
{-fx-background-color: #232323FF;}


/*-- BORDE -----------------------------------------------------------------------------------------------------------*/

.menu-item, #top_pane, #right_scroll_pane, #left_pane,
#top_button, #top_text_field,
#center_label_b1, #center_label_b2,
#center_label_focus_b1, #center_label_focus_b2,
#other_button, .scroll-pane > .scroll-bar:vertical .thumb
{-fx-border-style: solid;}

.menu-item, #other_button, .scroll-pane > .scroll-bar:vertical .thumb
{-fx-border-radius: 1;}

.menu-item, #top_button, #top_text_field,
#center_label_b1, #center_label_b2,
#center_label_focus_b1, #center_label_focus_b2,
#other_button
{-fx-border-width: 1;}

.menu-item:hover, .menu-item:focused,
#top_button:hover, #top_text_field:hover, #top_text_field:focused,
#center_label_b1:hover, #center_label_b2:hover,
#other_button:hover, #other_button:focused,
.scroll-pane > .scroll-bar:vertical .thumb:hover
{-fx-border-color: white;}

.menu-item, #other_button, .scroll-pane > .scroll-bar:vertical .thumb
{-fx-border-color: gray;}

#top_button, #top_text_field,
#center_label_b2
{-fx-border-color: #333333;}

#center_label_b1
{-fx-border-color: #232323FF;}

#top_pane, #right_scroll_pane, #left_pane
{-fx-border-color: #131313;}


/*-- OTROS -----------------------------------------------------------------------------------------------------------*/

.context-menu {-fx-background-color: transparent;}
.line {-fx-border-width: 0 0 4 0;}

.scroll-pane > .scroll-bar .increment-button,
.scroll-pane > .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.scroll-pane > .scroll-bar .increment-arrow,
.scroll-pane > .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.scroll-pane > .scroll-bar:vertical .thumb {-fx-border-radius: 5;}

#right_scroll_pane {-fx-border-width: 0 0 0 2;}
#right_close_button {-fx-padding: 0 4 2 4;}
#right_component {-fx-padding: 1 2 1 2;}
#right_label {-fx-padding: 0 0 0 10;}
#right_miniatura {-fx-font-size: 170;}

#top_button, #top_text_field {
    -fx-border-radius: 2;
    -fx-max-height: 35;
}
#top_pane {
    -fx-padding: 0 5 8 5;
    -fx-border-width: 0 0 2 0;
}

#left_pane {-fx-border-width: 0 2 0 0;}
#left_label_title {
    -fx-label-padding: 2 10 2 5;
    -fx-font-weight: bold;
}
#left_place_label {
    -fx-label-padding: 4 10 4 10;
    -fx-graphic-text-gap: 15;
}
#left_place_icon {
    -fx-font-size: 15;
    -fx-alignment: CENTER-RIGHT;
    -fx-text-fill: white;
}

#center_label_b1, #center_label_b2, #center_label_focus_b1, #center_label_focus_b2 {-fx-label-padding: 2;}
#center_label_focus_b1:hover, #center_label_focus_b2:hover {
    -fx-background-color: #41aeff;
    -fx-border-color: #41aeff;
}
#center_label_focus_b1, #center_label_focus_b2 {
    -fx-background-color: #0095c8;
    -fx-border-color: #0095c8;
    -fx-font-weight: bold;
}

#center_icon, #top_button, #center_icon_focus {-fx-label-padding: 0 5 0 5;}
#center_icon_focus {-fx-text-fill: white;}

#other_button {
    -fx-alignment: CENTER-LEFT;
    -fx-content-display: LEFT;
}

#context_menu_icon {
    -fx-font-size: 12;
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-label-padding: 0 10 0 0;
}